{% extends "base.html" %}


{% block content %}



<h2>
    Create View Page:
</h2>
<br>

{% if created %}
    <div style="margin-top: 30px;">
        <h3>The following articles was just added</h3>
    </div>

    <a href="/articles/{{object.id}}">
        {{object.title}} - <i>{{object.content}}</i>
    </a>

{% endif %}

<div style="margin-top: 30px;">
<form action="/articles/create/" method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Create Article"/>



</form>
</div>

{% endblock content %}